@charset "UTF-8";
@import "variables";
.app {
    .header {
        position: relative;
        font-size: 16px;
        color:@color-text;
        background-color: @bg-content;
        .header-body{
            width: @warp-width;
            height:60px;
            padding:10px 0;
            .header-left,.header-right{
                line-height: 40px;
            }
            .header-left{
                .imgs{
                    width:86px;margin-right: 27px;
                }
            }
            .header-right{
                .head-username{
                    margin:0 50px;
                }
                .home{
                    text-decoration: none;
                    color:@color-text;
                }
                .quit{
                    cursor: pointer;
                }
            }
        }
    }
    .footer{
        position: relative;
        .footer-top{
            background-color: @bg-dark;
            font-size: 18px;
            .content{
                position: relative;
                height: 180px;
                width: @warp-width;
                margin: auto;
                color: #fff;
                .con-left,.con-right{
                    padding-top:60px;
                    line-height: 25px;
                    .callus{
                        margin-bottom: 8px;
                    }
                }
                .con-left{
                    width:160px;
                    text-align: right;
                }
                .con-center{
                    padding-top:30px;
                    margin-left: 147px;
                    margin-right: 123px;
                    .code{
                        width:116px;
                        text-align: center;
                        .imgs{
                            img{
                                width:96px;
                                height:96px;
                            }
                        }
                        .text{
                            font-size: 14px;
                            line-height: 1em;
                            margin:18px 0 0;
                        }
                    }
                }
                .con-right{

                }
                p{
                    margin:0;font-weight: normal;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .footer-bottom{
            background: #323232;
            height: 30px;
            line-height: 30px;
            color: #b1b1b1;
            text-align: center;
            font-size: 12px;
        }
    }
}
