@charset "UTF-8";
@import "variables";
.home {
    position: relative;
    width: 100%;
    min-height: 680px;
    padding:25px 30px 30px;
    .information{
        position: relative;
        height:22px;
        .infor-div{
            padding:0 24px 0 26px;
            line-height: 22px;
            font-size: 16px;
            color:@color-text;
            background: url(../images/icon/icon-infor.png) no-repeat 0 0;
            position: relative;
            .infor-count{
                display: block;
                width:24px;
                height:14px;
                background-color: #D0011B;
                border-radius: 2px;
                font-size: 10px;
                color:#fff;
                line-height: 14px;
                position: absolute;
                right:0;
                top:-1px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .content{
        padding-top:12px;
        .table{
            margin-bottom: 30px;
            ul{
                border:1px solid #979797;
                li{
                    padding:20px 0 12px;
                    text-align: center;
                    border-right:@border-default;
                    height:112px;
                    position: relative;
                    color:@color-text;
                    cursor: pointer;
                    background-color: #F6F6F6;
                    &:last-child{
                        border:0;
                    }
                    line-height: 1em;
                    .table-data{
                        font-size:20px;
                        padding-top:16px;
                    }
                    .table-text{
                        padding-top:10px;
                        font-size:14px;
                        i{
                            font-style: normal;
                            font-size: 10px;
                            line-height: 14px;
                        }
                    }
                    .table-rate{
                        font-size:12px;
                        position: absolute;
                        right:10px;
                        bottom: 0;
                        &.red{
                            color:#D0011B;
                        }
                        &.green{
                            color:#417505;
                        }
                    }
                }
                li.active{
                    color:#4F97EB;
                    background-color: #fff;
                    &:after{
                        content:"";
                        display: block;
                        width:0;height:0;
                        border-left: 22px solid transparent;
                        border-right: 22px solid transparent;
                        border-top: 10px solid #4F97EB;
                        position: absolute;
                        left:74px;
                        bottom:-10px;
                    }
                }
            }
        }
    }
}
