@charset "UTF-8";
@import "variables";

.menu-warp {
    position: relative;
    width: @warp-width;
    //min-height: 720px;
    min-height: 664px;
    margin: 20px auto;
    .menus{
        width: 160px;
        background-color: #fff;
        height: 500px;
        border:@border-default;
        border-right: 0;
        .menus-list{
            border-bottom: @border-default;
            .menus-item .menu,.menus-parent{
                background-position:20px 13px;
                background-repeat: no-repeat;
            }
            .icon-authentication .menu{
                background-image: url(../images/menus/icon-safety.png);
            }
            .icon-user{
                background-image: url(../images/menus/icon-user.png);
            }
            .icon-product{
                background-image: url(../images/menus/icon-product.png);
            }
            .icon-exchange{
                background-image: url(../images/menus/icon-exchange.png);
            }
            .menus-item{
                .menu{
                    text-align: center;
                    display: block;
                    font-size: 16px;
                    color: @color-text;
                    line-height: 46px;
                    text-decoration: none;
                    &.menu-active{
                        color: #fff;
                        background-color: @bg-menu-active;
                        background-position: 20px -37px;
                    }
                }
            }
            .menus-parent{
                text-align: center;
                font-size: 16px;
                color: @color-text;
                line-height: 46px;
                cursor: pointer;
            }
            .div-active{
                color: @bg-menu-active;
                background-position: 20px -37px;
            }
            .menus-ul{
                li{
                    .menu{
                        color:@color-text-secondary;
                        text-align: center;
                        display: block;
                        font-size: 12px;
                        line-height: 32px;
                        text-decoration: none;
                        &.menu-active{
                            color: #fff;
                            background-color: @bg-menu-active;
                        }
                    }
                }
            }
            .animate{
                transition-property: height;
                transition-duration: .5s;
                height:0;
                overflow: hidden;
                &.show {
                    height: auto;
                }
            }
        }

    }
    .content-view{
        background-color: #fff;
        min-height: 500px;
        border:@border-default;
    }
}

ul{
    margin: 0;
}

