@charset "UTF-8";
@import "variables";
.submit-state{
    padding-left:30px;
    .submit-state-title{
        height:50px;
        background-color: @color-active;
        padding:15px 30px;
        color:#fff;
        font-size:20px;
        line-height: 1em;
    }
    .submit-state-content{
        border:1px solid #d8d8d8;
        border-right: 0;
        min-height:368px;
    }
}
