@charset "UTF-8";
@import "../../less/variables";

.index-header {
    position: relative;
    width: 100%;
    .top{
        background: #363B3F;
        .sub-info {
            margin: 0 auto;
            width: @warp-width;
            line-height: 20px;
            padding: 6px 0;
            text-align: right;
            color: #fff;
            font-size: 12px;
            .text{
                margin: 0 10px;
            }
            .top-link{
                color: #fff;
                display: inline-block;
                margin: 0 0 0 10px;
            }

        }
    }
    .middle{
        background: #fff;
        .middle-content{
            margin: 0 auto;
            width: @warp-width;
            line-height: 56px;
            padding: 10px 0;
            .logo{
                height: 56px;
                width: auto;
                margin-right: 10px;
            }
            .logo-title{
                font-size: 16px;
                color: @color-text;
            }
            .k-tech{
                line-height: 30px;
                font-size: 12px;
                color: #363B3F;

            }
            .sub-k-tech{
                font-size: 12px;
                line-height: 20px;
            }
            .right-link{
                margin-left: 110px;
            }
            .middle-link{
                font-size: 16px;
                color: @color-text;
                text-decoration: none;
                &:hover{
                    color: @bg-menu-active;
                }
                &.link-active{
                    color: @bg-menu-active;
                }
            }

        }
    }

}
